@model DoAnHMS.Models.KhachHang

@{
    ViewBag.Title = "Khách hàng - Xóa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa thông tin này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenKH)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @{string gt = ""; if (Model.gioiTinh == true) { gt = "Nam"; } else { gt = "Nữ"; }} @gt
        </dd>

        <dt>
            CMND/Hộ chiếu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cmnd_passport)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            Quốc tịch
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quocTich)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
