@model DoAnHMS.Models.Phong

@{
    ViewBag.Title = "Phòng - Thêm mới";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Thêm mới phòng</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.maP,"Mã phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.maP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.maLP,"Mã loại phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("maLP", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.maLP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tinhTrang,"Tình trạng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="checkbox">
                    Trống @Html.RadioButtonFor(model => model.tinhTrang, "Trống", new { @checked = "checked" }) &nbsp;
                    Đang sử dụng @Html.RadioButtonFor(model => model.tinhTrang, "Đang sử dụng")
                    @Html.ValidationMessageFor(model => model.tinhTrang, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>