@model DoAnHMS.Models.HoaDon

@{
    ViewBag.Title = "Hóa đơn - Thêm mới";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Thêm mới hóa đơn</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.maHD,"Mã hóa đơn", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.maHD, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = ViewBag.maHD } })
                @Html.ValidationMessageFor(model => model.maHD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngayTT,"Ngày thanh toán", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ngayTT, new { htmlAttributes = new { @class = "form-control", @type="datetime-local"} })
                @Html.ValidationMessageFor(model => model.ngayTT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.maPTP,"Mã phiếu đặt phòng", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                @Html.DropDownList("maPTP", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.maPTP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.maNV,"Mã nhân viên", htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                @Html.DropDownList("maNV", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.maNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
