@model DoAnHMS.Models.LoaiPhong

@{
    ViewBag.Title = "Loại phòng - Thêm mới";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Thêm mới loại phòng</h3>


@using (Html.BeginForm("Create", "LoaiPhongs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.maLP,"Mã loại phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.maLP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maLP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tenLP,"Tên loại phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.tenLP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenLP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hinhAnh,"Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.ValidationMessageFor(model => model.hinhAnh, "", new { @class = "text-danger" })
                <input type="file" name="Avatar" id="Avatar" required/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sucChua,"Sức chứa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.sucChua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sucChua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.donGia,"Đơn giá", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.donGia, new { htmlAttributes = new { @class = "form-control", @type="number"} })
                @Html.ValidationMessageFor(model => model.donGia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.moTa,"Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.moTa, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.moTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>


